:root {
  --background-color: #001d3d;
  --primary-color: #14213d;
  --title-color-white: #e5e5e5;
  --title-color-orange: #fca311;
  --text-color-white: #ffffff;
}

main {
  margin-top: 130px;
  overflow: hidden;
}

.content .contact-title {
  width: 100%;
  padding: 70px;
  background-color: var(--title-color-orange);
  opacity: 0.8;
}

.content h1 {
  color: var(--text-color-white);
}

.content h3 {
  font-style: italic;
  opacity: 0.7;
}

.content h1,
.content h3 {
  text-align: center;
}

.form-group {
  width: 50%;
  margin: auto;
}

.enviar {
  margin-left: auto;
  margin-right: auto;
}

.contact-content {
  padding: 10px;
}

/*
@media (max-width: 768px) {
  .content {
    min-width: 460px;
  }
}
